<div class="container">
    <h1>Trang chi tiet</h1>
    <form>
        <div>
            <label for="">Ma</label>
            <input type="text" ng-value="products.ma" class="form-control" ng-model="input.ma" name="" id="" disabled >
        </div>
        <div>
            <label for="">ten</label>
            <input type="text" ng-value="products.ten" class="form-control" ng-model="input.ten" name="" id="" disabled >
        </div>
        <div>
            <label for="">loai</label>
            <input type="text" ng-value="products.loai" class="form-control" ng-model="input.loai" name="" id="" disabled >
        </div>
        <div>
            <label for="">gia </label>
            <input type="text" ng-value="products.gia" class="form-control" ng-model="input.gia" name="" id="" disabled >
        </div>
        <a href="#!/"><button class="btn btn-primary">Quay lai</button></a>
    </form>
</div>