<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
    <script src="./libs/angular.min.js" ></script>
</head>
<body ng-app="myApp" >
    <!-- <div ng-controller="infoController">
        <h1>Tên là {{hoTen}} tuổi {{tuoi}}</h1>
    </div> -->

    <div ng-controller="infoController">
        <!-- đối tượng. thuộc tính -->
        <!-- <h1>{{sinhVien.maSV}}</h1>
        <h1>{{sinhVien.tenSV}}</h1>
        <h1>{{sinhVien.namSinh}}</h1>
        <h1 ng-if="namHienTai - sinhVien.namSinh > 18">đủ tuổi đi tù</h1> -->
        <!-- <span ng-switch="sinhVien.namSinh" >
            <span ng-switch-when="2004" >đã đủ tuôi</span>
            <span ng-switch-when="2007" >chưa đủ tuôi</span>
        </span> -->

        <table border="1">
            <tr>
                <td>STT</td>
                <td>Mã sv</td>
                <td>Họ và tên</td>
                <td>Năm sinh</td>
            </tr>
            <tr ng-repeat="sv in sinhVien">
                <td>{{$index + 1}}</td>
                <td>{{sv.maSV}}</td>
                <td>{{sv.tenSV}}</td>
                <td>{{sv.namSinh}}</td>
            </tr>
        </table>
    </div>
<script src="./js.js" ></script>
</body>
</html>