<div class="container">
    <h1 class="text-center">
        Đây là trang chi tiêts sản phẩm
    </h1>
    <div>
        <label for="">Tên: </label>
        <input type="text" class="form-control" ng-model="input.ten" name="" id="" disabled >
    </div>
    <div>
        <label for="">Hãng: </label>
        <input type="text" class="form-control" ng-model="input.hang" name="" id="" disabled >
    </div>
    <div>
        <label for="">Kích thước: </label>
        <input type="text" class="form-control" ng-model="input.kich_thuoc" name="" id="" disabled >
    </div>
    <div>
        <label for="">Giá: </label>
        <input type="text" class="form-control" ng-model="input.gia" name="" id="" disabled >
    </div>
    <div class="text-center mt-3">
        <a href="#!/"><button class="btn btn-primary">Quay lại</button></a>
    </div>
</div>