<div class="container">
    <h1 class="text-center mt-5 text-primary">Trang chi tiết sản phẩm</h1>
    <form>
        <div>
            <label for="">Tiêu đề</label>
            <input type="text" ng-value="BaiViet.tieu_de" class="form-control" ng-model="input.tieu_de" name="" id="" disabled>
        </div>
        <div>
            <label for="">Nội dung</label>
            <input type="text" ng-value="BaiViet.noi_dung" class="form-control" ng-model="input.noi_dung" name="" id="" disabled >
        </div>
        <div>
            <label for="">Tác giả</label>
            <input type="text" ng-value="BaiViet.tac_gia" class="form-control" ng-model="input.tac_gia" name="" id="" disabled />
        </div>
        <div>
            <label for="">Thể loại</label>
            <input type="text" ng-value="BaiViet.the_loai" class="form-control" ng-model="input.the_loai" name="" id="" disabled />
        </div>
        <div>
            <label for="">Ngày đăng</label>
            <input type="text" ng-value="BaiViet.ngay_dang" class="form-control" ng-model="input.ngay_dang" name="" id="" disabled />
        </div>


    </form>
</div>