
body{
    background-image: url(a.jpg);
}
.title-section::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f26522;
    margin-right: 10px;
    border-radius: 2px; 
    
}


